<section class="features" id="features">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <p> Features </p>
            </div>
            <div class="features__grid">
                <div class="elements" id="one">
                    <img src="img/airplane-48.png" alt="">
                    <div class="elements__title">One</div>
                    <div class="elements__subtitle">Lorem ipsum dolor sit amet. Lorem, ipsum dolor.</div>
                </div>
                <div class="elements" id="two">
                    <img src="img/map_marker-48.png" alt="">
                    <div class="elements__title">Two</div>
                    <div class="elements__subtitle">Lorem ipsum dolor sit.</div>
                </div>
                <div class="elements" id="three">
                    <img src="img/movie-48.png" alt="">
                    <div class="elements__title">Thre</div>
                    <div class="elements__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque!
                    </div>
                </div>
                <div class="elements" id="four">
                    <img src="img/alarm_clock-48.png" alt="">
                    <div class="elements__title">Four</div>
                    <div class="elements__subtitle">Lorem ipsum dolor sit amet. Lorem, ipsum dolor.</div>
                </div>
                <div class="elements " id="five">
                    <img src="img/face-48.png" alt="">
                    <div class="elements__title">Five</div>
                    <div class="elements__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="elements" id="six">
                    <img src="img/genius-48.png" alt="">
                    <div class="elements__title">Six</div>
                    <div class="elements__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, at?
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>