<section class="form" id="write">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="title text-center">
        <p>Write to us</p>
      </div>
      <div class="col-12 col-sm-10 mt-5">
        <form>
          <div class="row mb-3">
            <div class="col-12 col-sm-4">
              <label for="inputName" class="form-label">Name:</label>
              <input type="text" class="form-control" id="inputName" required>
            </div>
            <div class="col-12 col-sm-4">
              <label for="inputEmail" class="form-label">Email:</label>
              <input type="email" class="form-control" id="inputEmail" required>
            </div>
            <div class="col-12 col-sm-4">
              <label for="inputPhone" class="form-label">Phone:</label>
              <input type="text" class="form-control" id="inputPhone" required>
            </div>
          </div>

          <div class="row mb-3 mt-4">
            <label class="col-form-label col-12 col-lg-2 pt-0">Contact me via</label>
            <div class="col-4 col-sm-3 col-md-2">
              <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked>
              <label class="form-check-label" for="Radios1">
                Email
              </label>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
              <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="option2">
              <label class="form-check-label" for="Radios2">
                Phone
              </label>
            </div>
            <div class="col-4 col-sm-3 col-md-3">
              <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="option3">
              <label class="form-check-label" for="Radios3">
                Telegram
              </label>
            </div>

          </div>

          <div class="col-12">
            <label class="form-check-label mb-2" for="TopicSelect">
              Topic:
            </label>
            <select class="form-select mb-3" aria-label=".form-select example">
              <option selected>Post my story</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>

            </select>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label for="Textarea1" class="form-label">Message:</label>
              <textarea class="form-control" id="Textarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="row ">
            <div class="col-9 d-flex flex-column justify-content-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="HumanCheck1" required>
                <label class="form-check-label" for="HumanCheck1">
                  I am a human
                </label>
              </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
              <button class="btn m-0" type="submit">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>