<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title text-center">
                    <p>Gallery</p>
                </div>
                <div class="template mt-5">
                    <div class="slider-gallery">
                        <div id="o"><img src="img/cam.jpg" alt="photo">
                            <div class="slide-hover">
                                <div class="slide-hover__title">Title</div>
                                <div class="slide-hover__subtitle">Lorem ipsum dolor sit amet consectetur.</div>
                                <div class="btn -margin">More</div>
                            </div>
                        </div>
                        <div id="t"><img src="img/look.com.ua-359899.jpg" alt="photo">
                            <div class="slide-hover">
                                <div class="slide-hover__title">Title</div>
                                <div class="slide-hover__subtitle">Lorem ipsum dolor sit amet consectetur.</div>
                                <div class="btn -margin">More</div>
                            </div>
                        </div>
                        <div id="th"><img
                                src="img/b2859b0e8583c06fab970126d39e7062.bcf0a803c1dbd033d05b59639a3c9b83.jpg"
                                alt="photo">
                            <div class="slide-hover">
                                <div class="slide-hover__title">Title</div>
                                <div class="slide-hover__subtitle">Lorem ipsum dolor sit amet consectetur.</div>
                                <div class="btn -margin">More</div>
                            </div>
                        </div>
                        <div id="f"><img src="img/tree-736885__340.jpg" alt="photo">
                            <div class="slide-hover">
                                <div class="slide-hover__title">Title</div>
                                <div class="slide-hover__subtitle">Lorem ipsum dolor sit amet consectetur.</div>
                                <div class="btn -margin">More</div>
                            </div>
                        </div>
                        <div id="fi"><img src="img/8a07a0dc-1a27-4bf5-9263-2b946200d296.jpg" alt="photo">
                            <div class="slide-hover">
                                <div class="slide-hover__title">Title</div>
                                <div class="slide-hover__subtitle">Lorem ipsum dolor sit amet consectetur.</div>
                                <div class="btn -margin">More</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>