<header class="header">
    <div class="container ">
        <div class="row">
            <div class="col-7 d-flex">
                <div class="header__logo">
                    <a href="">TOUR-GIUDE</a>
                </div>
                <nav class="header__menu">
                    <ul>
                        <li><a href="">Stories</a></li>
                        <li><a href="">Gallery</a></li>
                        <li><a href="">Features</a></li>
                        <li><a href="">Write to us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-5">
                <div class="header__icons">
                    <ul>
                        <li><a href=""><img src="" alt="">q</a></li>
                        <li><a href=""><img src="" alt="">q</a></li>
                        <li><a href=""><img src="" alt="">q</a></li>
                        <li><a href=""><img src="" alt="">q</a></li>
                        <li><a href=""><img src="" alt="">q</a></li>
                    </ul>
                </div>
            </div>
            <div class="header__line"></div>
        </div>
    </div>
</header>