<header class="header">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <div class="header__content">
                    <div class="col-7 d-flex">
                        <div class="header__content_logo">
                            <a href="">TOUR-GIUDE</a>
                        </div>
                        <nav class="header__content_menu">
                            <ul>
                                <li><a href="#story">Stories</a></li>
                                <li><a href="#gallery">Gallery</a></li>
                                <li><a href="#features">Features</a></li>
                                <li><a href="#write">Write to us</a></li>
                            </ul>
                        </nav>
                        <div class="menu-collapsed">
                            <div class="bar"></div>
                            <nav>
                                <ul>
                                    <li><a href="#story">Stories</a></li>
                                    <li><a href="#gallery">Gallery</a></li>
                                    <li><a href="#features">Features</a></li>
                                    <li><a href="#write">Write to us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="header__content_icons">
                            <ul>
                                <li><a target="_blank" href="https://twitter.com/?lang=uk"><img src="img/twitter-128.png" alt="twitter"></a></li>
                                <li><a target="_blank" href=""><img src="img/facebook-128.png" alt="facebook"></a></li>
                                <li><a target="_blank" href=""><img src="img/instagram-2-128.png" alt="instagram"></a>
                                </li>
                                <li><a target="_blank" href=""><img src="img/youtube-128.png" alt="youtube"></a></li>
                                <li><a target="_blank" href=""><img src="img/gmail-128.png" alt="gmail"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>