<section class="story">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="story__content -border">
                    <div class="story__content_item d-flex flex-column justify-content-center">
                        <div class="title title-margin">
                            <p>Story</p>
                        </div>
                        <div class="subtitle">
                            <p>uidem ipsa rerum iste eligendi quod doloribus fugiat? Nulla, alias adipisci. Eligendi
                                ullam reiciendis, debitis accusamus esse odio voluptatem maiores dolorem incidunt
                                repudiandae, delectus hic sequi nemo impedit veritatis!</p>
                        </div>
                        <a class="btn" href="">START</a>
                    </div>
                    <div class="story__content_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>