.header {
    &__content {
        position: relative;
        padding: 0 15px;
        border-bottom: 1px solid $primary-color;
        height: 0px;
        display: flex;
        align-items: center;
        height: 70px;

        &_logo {
            display: flex;
            align-items: center;
            z-index: 101;

            a {
                text-decoration: none;
                color: #000;
                font-size: 15px;
                font-weight: 700;
                white-space: nowrap;
            }
        }



        &_menu {
            display: flex;
            align-items: center;
            margin-left: 20px;

            ul {
                display: flex;
                align-items: flex-start;
                gap: 20px;

                li {
                    display: flex;
                    align-items: center;
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: black;
                        transition: 0.1s;
                        white-space: nowrap;
                        font-size: 14px;


                        &:hover {
                            font-weight: 700;
                            transition: 0.1s;

                        }
                    }
                }
            }

            @media screen and (max-width:600px) {
                display: none;
            }
        }


        &_icons {
            ul {
                display: flex;
                justify-content: flex-end;
                gap: 20px;
                margin-right: 20px;

                li {
                    list-style: none;


                    a {
                        text-decoration: none;
                        color: #000;

                        &:hover {
                            transform: scale(1.5);
                        }
                        img {
                            width: 16px;
                            height: 16px;

                        }
                    }
                }
            }

            @media screen and (max-width:850px) {
                display: none;
            }
        }
    }
}

.b-a {
    transition: all .25s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 6px;
    min-width: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.95);
}

.menu-collapsed {
    transition: all .25s;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    display: none;

    @media screen and (max-width:600px) {
        display: block;
    }

    ul {
        transition: all 0s;
        position: fixed;
        left: -9000px;
    }
}

.bar {
    @extend .b-a;
    position: absolute;
    right: 12px;
    top: 33px;

    &:before {
        @extend .b-a;
        top: -8px;
    }

    &:after {
        @extend .b-a;
        top: 8px;
    }
}

.b-a-expanded {
    transition: all .25s;
    top: -0px;
}

.menu-expanded {
    position: fixed;
    transition: all .25s;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;

    ul {
        transition: all 0s;
        position: relative;
        left: 0;
        z-index: 2;
        margin-top: 100px;
    }

    a {
        margin-top: 50px;
        transition: all .15s;
        text-decoration: none;
        font-size: 22px;
        padding: 5px;
        color: rgb(3, 0, 0);
        display: block;

    }

    .bar {
        background-color: transparent;
        transition: all .25s;

        &:before {
            @extend .b-a-expanded;
            transform: rotate(45deg);
        }

        &:after {
            @extend .b-a-expanded;
            transform: rotate(-45deg);
        }
    }
}

h1 {
    font-size: 3em;
}

h3 {
    color: #999;
}

p {
    line-height: 160%;
    letter-spacing: 1px;
}